h1 Tree Wars

#start_dialog(title="Name", class="dialog") What's your name?
	input(type="text", id="playerName")
#role_dialog(title="Game Role", class="dialog") Choose whether you want to create a new server for your friends to join or join a friend's server yourself.
#join_dialog(title="Join Game", class="dialog") Type the game identifier below to join the game.<br />
	input(type="text", id="joinGameCode")