#start_dialog(title="Name", class="dialog") What's your name?
	input(type="text", id="playerName")
#role_dialog(title="Game Role", class="dialog") Choose whether you want to create a new server for your friends to join or join a friend's server yourself.
#join_dialog(title="Join Game", class="dialog") Type the game identifier below to join the game.<br />
	input(type="text", id="joinGameCode")

#gameWrapper
	#resources(title="Resources")
		#health(title="Health") Health: 10
		#sun(title="Sun") Sun: 0
		#water(title="Water") Water: 0
		#nutrients(title="Nutrients") Nutrients: 0
		#environment(title="Environment") Env.: None active