* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background:#5ac7ff url(../images/background/normal.jpg) center bottom;
	background-repeat: repeat-x;
}

a {
  color: #00B7FF;
}

.dialog {
	display: none;
}

.ui-dialog {
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.ui-widget.ui-widget-content, .ui-widget .ui-state-default, .ui-widget .ui-widget-content .ui-state-default, .ui-widget .ui-widget-header .ui-state-default {
	background: #fff url(../images/dialog.jpg) repeat-x;
	border: none;
}

.ui-widget .ui-widget-header, .ui-widget .ui-widget-content {
	background: none;
	border: none;
}

.ui-widget.ui-dialog .ui-dialog-titlebar {
	padding: 10px;
}

.ui-widget.ui-dialog .ui-dialog-content {
	padding: 30px 20px 10px 20px;
	color: #808080;
}

input {
	margin: 10px 0 0 0;
	padding: 5px;
	display: block;
}

h1 {
	width: 1200px;
	height: 840px;
	margin:0 auto;
	background: url(../images/splash_screen.jpg);
	text-indent: -9999px;
}
