* {
	margin: 0;
	padding: 0;
}

html {
	background: url('/images/background.jpg');
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background:#5ac7ff url('/images/background/normal.jpg') left bottom;
	background-repeat: repeat-x;
}

#gameWrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 840px;
	background: url('/images/splash_screen.jpg');
}

.dialog {
	display: none;
}

.ui-dialog {
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.ui-widget.ui-widget-content, .ui-widget .ui-state-default, .ui-widget .ui-widget-content .ui-state-default, .ui-widget .ui-widget-header .ui-state-default {
	background: #fff url('/images/dialog.jpg') repeat-x;
	border: none;
}

.ui-widget .ui-widget-header, .ui-widget .ui-widget-content {
	background: none;
	border: none;
}

.ui-widget.ui-dialog .ui-dialog-titlebar {
	padding: 10px;
}

.ui-widget.ui-dialog .ui-dialog-content {
	padding: 30px 20px 10px 20px;
	color: #808080;
}

input {
	margin: 10px 0 0 0;
	padding: 5px;
	display: block;
}

#resources {
	position: absolute;
	top: 10px;
	right: 10px;
}

#resources div, #sound {
	line-height: 48px;
	margin: 0 0 10px 0;
	padding: 0 10px;
	background-color: #fff;
	font-weight: bold;
	color: #808080;
	background-image: url('/images/ressources.png');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#sound {
	position: absolute;
	top: 10px;
	left: 10px;
	background-position: 0 48px;
	width: 48px;
	height: 48px;
	padding: 0;
	cursor: pointer;
}

#resources div {
	width: 180px;
	height: 48px;
	float: right;
	margin: 0 0 0 10px;
}

#resources #health, #resources #environment {
	background-image: none;
}

#sun {
	background-position: 0 144px;
}

#water {
	background-position: 0 0px;
}

#nutrients {
	background-position: 0 96px;
}
